

$fle:flex;

$widest: 100%;

$wider:80%;

$pont:pointer;

$spac:space-between;

$aln:center;

$pabs:absolute;

$prel:relative;

$mark:2px solid red;

$weight:600;

$weightier:800;

$sectPadding:80px 85px;

$pading:10px 30px;

$globfont:Muli,sans-serif;

$trpn:transparent;

$weit:520;

$null:none;

$bbbl:block;

$radd:8px;

$deep:#cecece;

$spack:space-evenly;

$sparnd: space-around;

$blll: inline-block;

$sosie: 80px;
