* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: Muli, sans-serif;
}

nav {
  display: flex;
  width: 100%;
  height: 65px;
  background-color: #ffffff;
  box-shadow: 8px 0px 10px 0px;
}
nav .nav-left {
  width: 20%;
  margin-top: -30px;
  margin-left: 70px;
  cursor: pointer;
}
nav .nav-centre {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  left: 270px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  width: 100%;
  margin-left: -10px;
}
nav ul li {
  list-style-type: none;
  width: 150px;
  font-size: 14px;
  font-weight: 520;
}
nav .megadiv {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-left: -20px;
  margin-top: 10px;
  cursor: pointer;
}
nav .megadiv .div1, nav .megadiv .div2, nav .megadiv .div3, nav .megadiv .div4 {
  cursor: pointer;
  width: 120px;
}
nav .megadiv .div1 span, nav .megadiv .div2 span, nav .megadiv .div3 span, nav .megadiv .div4 span {
  margin-left: 10px;
}
nav .megadiv .div1 .wrapper, nav .megadiv .div2 .wrapper, nav .megadiv .div3 .wrapper, nav .megadiv .div4 .wrapper {
  display: block;
}
nav .megadiv .div1 .wrapper .sub1-men, nav .megadiv .div2 .wrapper .sub1-men, nav .megadiv .div3 .wrapper .sub1-men, nav .megadiv .div4 .wrapper .sub1-men {
  position: absolute;
  background-color: #ffffff;
  border-radius: 8px;
  width: 500px;
  display: none;
}
nav .megadiv .div1 .wrapper .sub1-men .one-left, nav .megadiv .div2 .wrapper .sub1-men .one-left, nav .megadiv .div3 .wrapper .sub1-men .one-left, nav .megadiv .div4 .wrapper .sub1-men .one-left {
  width: 250px;
  background-color: #ffffff;
}
nav .megadiv .div1 .wrapper .sub1-men .one-left ul, nav .megadiv .div2 .wrapper .sub1-men .one-left ul, nav .megadiv .div3 .wrapper .sub1-men .one-left ul, nav .megadiv .div4 .wrapper .sub1-men .one-left ul {
  display: block;
  width: 250px;
  padding: 10px;
}
nav .megadiv .div1 .wrapper .sub1-men .one-left li, nav .megadiv .div2 .wrapper .sub1-men .one-left li, nav .megadiv .div3 .wrapper .sub1-men .one-left li, nav .megadiv .div4 .wrapper .sub1-men .one-left li {
  display: flex;
  list-style-type: none;
  padding: 5px;
  margin-top: 3px;
}
nav .megadiv .div1 .wrapper .sub1-men .one-left p, nav .megadiv .div2 .wrapper .sub1-men .one-left p, nav .megadiv .div3 .wrapper .sub1-men .one-left p, nav .megadiv .div4 .wrapper .sub1-men .one-left p {
  font-size: 13px;
  margin-top: 10px;
  margin-left: 3px;
}
nav .megadiv .div1 .wrapper .sub1-men .one-left .round-icons, nav .megadiv .div2 .wrapper .sub1-men .one-left .round-icons, nav .megadiv .div3 .wrapper .sub1-men .one-left .round-icons, nav .megadiv .div4 .wrapper .sub1-men .one-left .round-icons {
  width: 30px;
  height: 30px;
}
nav .megadiv .div1 .wrapper .sub1-men .one-rght, nav .megadiv .div2 .wrapper .sub1-men .one-rght, nav .megadiv .div3 .wrapper .sub1-men .one-rght, nav .megadiv .div4 .wrapper .sub1-men .one-rght {
  width: 250px;
  background-color: #cecece;
}
nav .megadiv .div1 .wrapper .sub1-men .one-rght ul, nav .megadiv .div2 .wrapper .sub1-men .one-rght ul, nav .megadiv .div3 .wrapper .sub1-men .one-rght ul, nav .megadiv .div4 .wrapper .sub1-men .one-rght ul {
  display: block;
  padding: 15px;
}
nav .megadiv .div1 .wrapper .sub1-men .one-rght ul .drot, nav .megadiv .div2 .wrapper .sub1-men .one-rght ul .drot, nav .megadiv .div3 .wrapper .sub1-men .one-rght ul .drot, nav .megadiv .div4 .wrapper .sub1-men .one-rght ul .drot {
  font-size: 6px;
  opacity: 0.6;
}
nav .megadiv .div1 .wrapper .sub1-men .one-rght ul li, nav .megadiv .div2 .wrapper .sub1-men .one-rght ul li, nav .megadiv .div3 .wrapper .sub1-men .one-rght ul li, nav .megadiv .div4 .wrapper .sub1-men .one-rght ul li {
  display: flex;
  list-style-type: none;
  padding: 9px;
  margin-top: 3px;
}
nav .megadiv .div1 .wrapper .sub1-men .one-rght ul p, nav .megadiv .div2 .wrapper .sub1-men .one-rght ul p, nav .megadiv .div3 .wrapper .sub1-men .one-rght ul p, nav .megadiv .div4 .wrapper .sub1-men .one-rght ul p {
  font-size: 13px;
  margin-left: 3px;
}

h4 {
  font-size: 13px;
  font-weight: 600;
  color: #40196d;
}

.nav-right {
  width: 20%;
  position: absolute;
  top: 10px;
  left: 77%;
  display: flex;
  justify-content: space-between;
}

.rght-txt {
  margin-top: 14px;
  cursor: pointer;
}

.btn {
  padding: 10px 30px;
  background-color: #40196d;
  color: #ffffff;
  font-size: 14px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
}

.mapnig {
  cursor: pointer;
  margin-top: 6px;
}

.sect-1 {
  width: 100%;
  padding: 80px 85px;
  background-color: transparent;
  display: flex;
}
.sect-1 .sect1-lft {
  width: 40%;
  padding: 20px;
}
.sect-1 .sect1-lft h1 {
  font-size: 40px;
  color: #40196d;
  line-height: 48px;
  letter-spacing: normal;
  font-weight: 800;
}
.sect-1 .sect1-lft p {
  font-weight: 520;
  letter-spacing: normal;
  line-height: 28px;
  width: 80%;
  margin-top: 25px;
}
.sect-1 .sect1-lft .bottom {
  margin-top: 25px;
  width: 100%;
}
.sect-1 .sect1-lft .bottom .mdia {
  width: 60%;
}
.sect-1 .sect1-rgt {
  width: 60%;
  outline: 2px solid red;
  z-index: 0;
}
.sect-1 .sect1-rgt .ooof {
  z-index: -3;
}
.sect-1 .sect1-rgt .ooop {
  z-index: 3;
  position: relative;
  left: 20%;
}

.sect2 {
  width: 100%;
  padding: 80px 85px;
  background-color: transparent;
}
.sect2 .pack-1 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 20px;
}
.sect2 .pack-1 .item {
  width: 30%;
  height: 120px;
  background-color: #ffffff;
  box-shadow: 2px 0px 4px 2px #cecece;
  border-radius: 4px;
}
.sect2 .pack-1 .item .rocky-icons {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 15px;
}
.sect2 .pack-1 .item p {
  font-size: 14px;
  font-weight: 600;
  color: #40196d;
  margin-left: 3%;
}
.sect2 .pack-2 {
  width: 80%;
  display: flex;
  padding: 20px;
  margin-left: 18%;
}
.sect2 .pack-2 .item {
  width: 40%;
  height: 120px;
  background-color: #ffffff;
  box-shadow: 2px 0px 4px 2px #cecece;
  border-radius: 4px;
}
.sect2 .pack-2 .item .rocky-icons {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 15px;
}
.sect2 .pack-2 .item p {
  font-size: 14px;
  font-weight: 600;
  color: #40196d;
  margin-left: 3%;
}
.sect2 .pack-2 .item5 {
  margin-left: 3%;
}

.sect-3 {
  width: 100%;
  display: flex;
  padding: 80px 85px;
}
.sect-3 .maj-left {
  width: 28%;
  margin-left: 6%;
}
.sect-3 .maj-left h2 {
  font-size: 29px;
  color: #40196d;
  width: 65%;
  font-weight: 800;
  line-height: 37px;
}
.sect-3 .maj-left p {
  font-size: 15px;
  margin-top: 6%;
}
.sect-3 .maj-left a {
  font-size: 14px;
  color: #40196d;
  display: inline-block;
  margin-top: 8%;
  font-weight: 600;
}
.sect-3 .maj-right {
  width: 40%;
  margin-left: 20%;
}
.sect-3 .maj-right .cartoon {
  width: 550px;
}

.sect-4 {
  width: 100%;
  padding: 80px 85px;
  display: flex;
}
.sect-4 .tt-left {
  margin-left: 20px;
  margin-top: -20%;
}
.sect-4 .tt-right {
  width: 32%;
  margin-left: 6%;
}
.sect-4 .tt-right h2 {
  font-size: 29px;
  color: #40196d;
  font-weight: 800;
  line-height: 37px;
}
.sect-4 .tt-right p {
  font-size: 15px;
  margin-top: 6%;
  line-height: 24px;
}/*# sourceMappingURL=mine.css.map */